<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Seavan's Underwater Cookie Monsta</title>
    <style>
      body { background: green; color: #fff; font: 24px/1.5 monospace; }
      #log { margin: 1em 0; }
      p { margin: 1em 0; }
      a { color: pink; }
      header { color: lightblue; font-size: 70%; white-space: pre; }
      button {
        background: linear-gradient(#0c0,#0a0);
        border-radius: 10px;
        border: 0;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 50px;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
  <header>
                  _/0\/ \_
         .-.   .-` \_/\0/ '-.
        /:::\ / ,_________,  \
       /\:::/ \  '. (:::/  `'-;
       \ `-'`\ '._ `"'"'\__    \
        `'-.  \   `)-=-=(  `,   |
            \  `-"`      `"-`   /
    </header>
    <button id="install">Install</button>
    <div id="log"></div>
    <script type="text/javascript">
      var log = document.getElementById('log');
      log.innerHTML = 'Started.<br>';
      function do_install() {
        try {
          var a = document.createElement('a');
          a.href = '/minifest?pro=4004ee.33';
          console.log(a.href);

          var install = navigator.mozApps.installPackage(a.href);
          log.innerHTML += 'Installing...<br>';
          install.onsuccess = function() {
            log.innerHTML += 'Success<br>';
          };
          install.onerror = function() {
            log.innerHTML += this.error.name + '<br>';
          };
        } catch(e) {
          log.innerHTML += e.toString() + '<br>';
        }
      }
      var button = document.getElementById('install');
      button.addEventListener('click', function(e) {
        e.preventDefault();
        log.innerHTML += 'Clicked...<br>';
        do_install();
      }, false);
      button.addEventListener('touchend', function(e) {
        e.preventDefault();
        log.innerHTML += 'Touched...<br>';
        do_install();
      }, false);
    </script>
  </body>
</html>
