<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Seavan's Underwater Cookies</title>
    <style>
      body { background: purple; color: #fff; font: 24px/1.5 monospace; }
      iframe { height: 200px; width: 100%; }
      a { color: pink; }
    </style>
  </head>
  <body>
<pre><code>                    ._ o o
              \_`-)|_
           ,""       \
         ,"  ## |   ಠ ಠ.
       ," ##   ,-\__    `.
     ,"       /     `--._;)
   ,"     ## /
 ,"   ##    /
    </code></pre>
    <div></div>
    <script type="text/javascript">
      (function() {
          var div = document.querySelector('div');
          div.innerHTML = document.cookie;
      })();
    </script>
  </body>
</html>
